<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"  xsd:schemaLocation="log4j-config.xsd">
	<Properties>
		<Property ></Property>
	
	
	</Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">	
      <PatternLayout charset="utf-8" pattern="%r [%t] %-5p %c - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="com.QuickStart"   level="info"   additivity="false">
  		<AppenderRef ref="Console"/>
  	</Logger>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>