<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"   xmlns:xsd="http://logging.apache.org/log4j/2.0/config"  packages=" com.QuickStart.Example.QuickStartLog">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">	
      <PatternLayout charset="gbk" pattern=" %r [%t] %-5p %c - %m%n"/>
    </Console>
    <File name="File" fileName="ahaah.log">
      <PatternLayout charset="utf-8">
        <pattern > %d %p %C{1.} [%t] %m%n</pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
  	<Logger name="com.log4j2WebExample"   level="info"   additivity="false">
  		<AppenderRef ref="File"/>
  	</Logger>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
  <script>
  </script>
</Configuration>